<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output</title>

<style>
    body {
        background-color: #274dcc;
        font-family: Arial, sans-serif;
    }
    
    h2 {
        margin-top: 20px;
        margin-bottom: 40px;
        text-align: top;
        font-size: 24px;
        color: #ffffff;
    }
</style>

</head>

<body>
    <br/>
    <br/>
    <h2><center>Sentiment Of Question : {{ result }}</center></h2>
    
</body>
</html>